Options -Indexes

DirectoryIndex index.php

ErrorDocument 404 /404.php
ErrorDocument 403 /403.php
ErrorDocument 401 /401.php

RewriteEngine on
RewriteBase /
RewriteRule \.git/ - [F]
RewriteRule \.svn/ - [F]
RewriteRule \.snapshot/ - [F]
RewriteRule etc/ - [F]
RedirectMatch /(.+)\.shtml$ /$1\.php

RewriteCond %{REQUEST_URI} ^/?feeds/
RewriteRule ^feeds/unifeed.rss /feed.rss [R=301]
RewriteCond %{REQUEST_URI} ^/?feeds/
RewriteRule ^feeds/entries.rss /bln/feed.rss [R=301]
RewriteCond %{REQUEST_URI} ^/?feeds/
RewriteRule ^feeds/guides.rss /guides/feed.rss [R=301]
RewriteCond %{REQUEST_URI} ^/?feeds/
RewriteRule ^feeds/photos.rss /album/feed.rss [R=301]
RewriteCond %{REQUEST_URI} ^/?feeds/
RewriteRule ^feeds/art.rss /art/feed.rss [R=301]
RewriteCond %{REQUEST_URI} ^/?feeds/
RewriteRule ^feeds/updates.rss /updates/feed.rss [R=301]
RewriteCond %{REQUEST_URI} ^/?output/
RewriteRule ^output/pen/bln/(.*) /bln/$1 [R=301]
RewriteCond %{REQUEST_URI} ^/?pen/
RewriteRule ^pen/bln/(.*) /bln/$1 [R=301]
RewriteCond %{REQUEST_URI} ^/?art/
RewriteRule ^art/lego/(.*) /lego/$1 [R=301]
RewriteCond %{REQUEST_URI} ^/?output/
RewriteRule ^output/gfx/album/(.*) /album/$1 [R=301]
RewriteCond %{REQUEST_URI} ^/?output/
RewriteRule ^output/album/(.*) /album/ [R=301]
RewriteCond %{REQUEST_URI} ^/?output/
RewriteRule ^output/lego.php /lego/ [R=301]
RewriteCond %{REQUEST_URI} ^/?geek/
RewriteRule ^geek/guides/(.*) /guides/$1 [R=301]
RewriteCond %{REQUEST_URI} ^/?output/
RewriteRule ^output/pen/(.*) /pen/$1 [R=301]
RewriteCond %{REQUEST_URI} ^/?output/
RewriteRule ^output/gfx/(.*) /art/$1 [R=301]
RewriteCond %{REQUEST_URI} ^/?output/
RewriteRule ^output/(.*) /art/$1 [R=301]
RewriteCond %{REQUEST_URI} ^/?geek/
RewriteRule ^geek/hits/(.*) /hits/$1 [R=301]
RewriteCond %{REQUEST_URI} ^/?track7\.php
RewriteRule ^track7.php / [R=301]
RewriteCond %{REQUEST_URI} ^/?new\.php
RewriteRule ^new.php /updates/ [R=301]
RewriteCond %{REQUEST_URI} ^/?oldguest
RewriteRule ^oldguestbook.php /gb-view.php [R=301]
RewriteCond %{REQUEST_URI} ^/?news/
RewriteRule ^news/linz.php /art/linz.php [R=301]
RewriteCond %{REQUEST_URI} ^/?news/
RewriteRule ^news/nazi.php /art/nazi.php [R=301]
RewriteCond %{REQUEST_URI} ^/?news/
RewriteRule ^news/pentium4.php /pen/theory/pentium4.php [R=301]
RewriteCond %{REQUEST_URI} ^/?user/
RewriteRule ^user/profile.php /user/editprofile.php [R=301]
RewriteCond %{REQUEST_URI} ^/?shop/
RewriteRule ^shop/ /art/shop/ [R=301]
RewriteCond %{REQUEST_URI} ^/?av/
RewriteRule ^av/lego.php /lego/ [R=301]
RewriteCond %{REQUEST_URI} ^/?av/
RewriteRule ^av/(.*) /art/$1 [R=301]
RewriteCond %{REQUEST_URI} ^/?analogu/
RewriteRule ^analogu/(index\.php)?$ /code/ [R=301]
RewriteCond %{REQUEST_URI} ^/?analogu/
RewriteRule ^analogu/ti8x\.(php|s?html) /code/calc/ [R=301]
RewriteCond %{REQUEST_URI} ^/?analogu/
RewriteRule ^analogu/gameworlds\.(php|s?html) /code/games/ [R=301]
RewriteCond %{REQUEST_URI} ^/?analogu/
RewriteRule ^analogu/net/(index\.php)?$ /code/vs/ [R=301]
RewriteCond %{REQUEST_URI} ^/?analogu/
RewriteRule ^analogu/net/([^/]+)/ /code/vs/$1 [R=301]
RewriteCond %{REQUEST_URI} ^/?analogu/
RewriteRule ^analogu/vb\.(s?html|php) /code/vs/ [R=301]
RewriteCond %{REQUEST_URI} ^/?analogu/
RewriteRule ^analogu/scripts/(index\.php)?$ /code/web/ [R=301]
RewriteCond %{REQUEST_URI} ^/?analogu/
RewriteRule ^analogu/scripts/([^/]+) /code/web/$1 [R=301]
RewriteCond %{REQUEST_URI} ^/analogu/
RewriteRule ^analogu/scripts\.php /code/web/ [R=301]
RewriteCond %{REQUEST_URI} ^/?source/
RewriteRule ^source/([a-z0-9/\-]+\.(php|css|js))$ https://github.com/misterhaan/track7.org/blob/master/$1
RewriteCond %{REQUEST_URI} ^/?todo\.php
RewriteRule ^todo\.php$ https://github.com/misterhaan/track7.org/issues
RewriteCond %{REQUEST_URI} ^/?robots
RewriteRule ^robots.txt /robots.php
RewriteCond %{REQUEST_URI} ^/?oi
RewriteRule ^oi/f[0-9]+/t([0-9]+) /hb/thread$1/ [R=301]
RewriteCond %{REQUEST_URI} ^/?oi
RewriteRule ^oi /hb [R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{HTTP_REFERER} ^http://(www\.)?a-b-l-o-g\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?absolutelycaninephotography\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?adultsitescenter\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?akksess\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://[^/]+\.all-hot-all\.info.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?bobbakazoo\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?bongohome\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?buy-drugs-online\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?buy-hgh-human-growth-hormone\.net.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?celebinfo\.reallyconfused\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?convair\.de.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?counter-service\.de.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?download-slotmachines.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?formula42\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?freenudecelebrity\.net.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?gothic\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?harrisburg\.cowparade\.net.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?iamwin\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?learnthebiz\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?link-directory\.de.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?malixya\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?midget-sex-pictures\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?mikesspot\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?mtv-badpyrmont\.de.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?paris-hilton-video\.blogspot\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?pi-o\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?picturesplace\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?quiro\.de.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?saulem\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?search4hardcore\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?sex\.upx\.net.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?shatteredreality\.net.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?teoras\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?timesoft\.org.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?vanillaice\.net.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?visitcelebrities\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?wizard\.yellowbrick\.oz.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?worldnewslog\.com.*$ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?wr18\.com.*$ [NC,OR]
RewriteCond %{REMOTE_ADDR} ^195\.225\.176\.87$ [OR]
RewriteCond %{REMOTE_ADDR} ^81\.95\.146\.162$ [OR]
RewriteCond %{REMOTE_ADDR} ^78\.129\.202\.15$ [OR]
RewriteCond %{REMOTE_ADDR} ^85\.255\.120\.210$ [OR]
# RewriteCond %{REMOTE_ADDR} ^12\.175\.5\.133$ [OR]
RewriteCond %{REMOTE_ADDR} ^84\.1(10|08)\.[0-9]+\.[0-9]+$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/4\.0\ \(compatible;\ MSIE\ 6\.0;\ Windows\ NT\ 5\.1$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} HTTrack [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^8484\ Boston\ Project\ v\ 1\.0$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^TAMU_CS_IRL_CRAWLER/1\.0$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Teleport\ Pro [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Green\ Research,\ Inc\.$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^River\ Valley\ Inc\.$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/3\.0\ (compatible;\ Indy\ Library)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^SurveyBot/[0-9]\.[0-9]\ (Whois\ Source)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^[a-z]+(\ [a-z]+)*(\ ([0-9]+\.)*[0-9]+)?$ [NC]
RewriteRule !(403\.php|\.css|\.png|\.ico) - [F,L]

RewriteCond %{HTTP_REFERER} ^http://([^\.]+\.)?myspace\.com/.*$ [NC]
RewriteRule \.(png|jpe?g) http://www.track7.org/hotlink.png [L]

order allow,deny
deny from 92.48.122.3
deny from 94.100.29.250
deny from 94.102.49.34
deny from 94.102.60.11
deny from 124.217.229.63
deny from 193.34.144.72
deny from 193.34.144.83
deny from 193.37.152.242
deny from 195.190.13.242
deny from 85.255.120.74
deny from 85.12.25.66
deny from 91.207.5.74
deny from 91.207.4.210
allow from all

AddType application/x-xpinstall .xpi
