/******************************************************************************\
 * track7 style sheet by misterhaan of http://www.track7.org/                 *
 *                                                                            *
 * -> layout style for lego models index page                                 *
\******************************************************************************/

div#sortoptions {
  font-size: .8em;
  margin: 0 2.5em;
  text-align: right;
}

ol#legothumbs {
  margin: .5em 1.5em;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

ol#legothumbs li {
  display: -moz-inline-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 170px;
}

ol#legothumbs a {
  border: 1px solid #fff;
  -moz-border-radius: 7px;
  border-radius: 7px;
  display: block;
  margin: .5em 1px;
  padding: 4px;
  text-align: center;
}
ol#legothumbs a:hover {
  border: 1px solid #ace;
}
