/******************************************************************************\
 * track7 style sheet by misterhaan of http://www.track7.org/                 *
 *                                                                            *
 * -> layout style for guestbook signing                                      *
\******************************************************************************/

form#gbsign div#madnounadj,
form#gbsign div#madverbpln {
  margin: 0;
  padding: 0 1em 1em 0;
  float: left;
}
form#gbsign div#madnounadj table,
form#gbsign div#madverbpln table {
  width: auto;
}
