/******************************************************************************\
 * track7 style sheet by misterhaan of http://www.track7.org/                 *
 *                                                                            *
 * -> layout style for forum post pages                                       *
\******************************************************************************/

form td div {
  display: inline;
  padding-right: 1.25em;
  white-space: nowrap;
}
td div input,
td div label {
  vertical-align: middle;
}
