/******************************************************************************\
 * track7 style sheet by misterhaan of http://www.track7.org/                 *
 *                                                                            *
 * -> layout style hit statistics pages                                       *
\******************************************************************************/

img.hitchart {
  display: block;
  margin: 1em auto;
  max-width: 95%;
}
