/******************************************************************************\
 * track7 style sheet by misterhaan of http://www.track7.org/                 *
 *                                                                            *
 * -> layout style hit statistics pages                                       *
\******************************************************************************/

ol#hits {
  margin: .5em 2em;
  padding: 0;
}
ol#hits li {
  list-style-position: inside;
  margin-top: .5em;
}
ol#hits li table.columns {
  margin: -1em 0 0 2em;
}
