/******************************************************************************\
 * track7 style sheet by misterhaan of http://www.track7.org/                 *
 *                                                                            *
 * -> layout style for small screens                                          *
\******************************************************************************/

/* ==============================================================[ layout ]== */

div.dynamic {
  width: 22.81em;
  padding-left: 0;
}

div#foot {
  padding: 0;
  padding-top: 1em;
  color: #000;
  background: none;
}
div#foot div {
  padding: .4em .75em;
  background: #b98;
}
div#foot div#copyright {
  margin-top: -1.6em;
  padding: 0 .75em;
}
div#copyright a:link,
div#copyright a:visited {
  color: #000;
  border-bottom: 1px dotted #000;
}
@media all and (max-width: 40em;) {
  div#foot div#pagegen {
    padding-bottom: 0;
  }
  div#foot div#copyright {
    margin-top: 0;
    float: none;
    padding-bottom: .4em;
  }
}
