<?
  require_once dirname($_SERVER['DOCUMENT_ROOT']) . '/lib/style.track7.php';
?>
/******************************************************************************\
 * track7 style sheet by misterhaan of http://www.track7.org/                 *
 *                                                                            *
 * -> '<?=STYLE; ?>' layout style for output index page                              <? for($i = strlen(STYLE); $i < 5; $i++) echo ' '; ?>*
\******************************************************************************/

img.icon {
  float: left;
  padding-left: 2em;
  width: 32px;
  height: 32px;
}
p.iconned {
  padding-left: 32px;
  margin-left: 2.5em;
}
