RedirectPermanent /analogu/vb.html http://www.track7.org/analogu/vb.php
RedirectPermanent /analogu/vb.shtml http://www.track7.org/analogu/vb.php
RedirectPermanent /analogu/ti8x.html http://www.track7.org/analogu/ti8x.php
RedirectPermanent /analogu/ti8x.shtml http://www.track7.org/analogu/ti8x.php
RedirectPermanent /analogu/gameworlds.html http://www.track7.org/analogu/gameworlds.php
RedirectPermanent /analogu/gameworlds.shtml http://www.track7.org/analogu/gameworlds.php
RedirectPermanent /analogu/scripts.php http://www.track7.org/analogu/scripts/

RewriteEngine on
RewriteOptions inherit
