@media (min-width: 40em) {
	#editdiscussion .label {
		flex: 0 0 4.5em;
	}

	#editdiscussion fieldset.checkboxes .field {
		margin-left: 4.5em;
	}

	#editdiscussion button {
		margin: .75em 1em .75em 5.5em;
	}
}
