RewriteEngine on
RewriteOptions inherit
RewriteRule ^([^\/]+)\/([^\/]+)$ entry.php?name=$2&tag=$1
RewriteRule ^([^\/]+)\/$ index.php?tag=$1
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\/]+)$ entry.php?name=$1
