RewriteEngine on
RewriteOptions inherit

RedirectPermanent /geek/dualxp98.php http://www.track7.org/geek/guides/dualxp98/
RedirectPermanent /geek/installxp.php http://www.track7.org/geek/guides/installxp/
RedirectPermanent /geek/objects.php http://www.track7.org/geek/guides/objects/
RedirectPermanent /geek/stats/ http://www.track7.org/geek/hits/
RedirectPermanent /geek/analogu.html http://www.track7.org/analogu/
RedirectPermanent /geek/fewrights.php http://www.track7.org/fewrights.php
RedirectPermanent /geek/diablo2.php http://www.track7.org/geek/rpg/?game=4
