# AuthType Basic
# AuthName "track7 administration"
# AuthUserFile /home/misterhaan/.htpasswd/.track7.org
# AuthUserFile /etc/httpd/.htpasswd/track7.org/admin

# require valid-user

RewriteEngine On
# anything that contains a dot without a colon should be left alone
RewriteRule ^[^:]*\. - [L]
# anything that contains a slash without a colon should be left alone
RewriteRule ^[^:]*\/ - [L]
# redirect to main page
RewriteRule ^/*$ /wiki/index.php?title=Contents [L,QSA]
# anything else is to be treated as a title
RewriteRule ^(.+)$ /wiki/index.php?title=$1 [L,QSA]
