/******************************************************************************\
 * track7 style sheet by misterhaan of http://www.track7.org/                 *
 *                                                                            *
 * -> layout style for browser issues page                                    *
\******************************************************************************/

h2.browser {
  padding-left: 42px;
}
img.browser {
  position: absolute;
  margin-top: 9px;
  margin-left: 1.9em;
  height: 32px;
  width: 32px;
}
