/******************************************************************************\
 * track7 style sheet by misterhaan of http://www.track7.org/                 *
 *                                                                            *
 * -> layout style common to the entire site                                  *
\******************************************************************************/


/* =============================================================[ general ]== */

a {
  text-decoration: none;
}
div#content a {
  font-weight: bold;
}
a:link {
  color: #37a;
}
a:visited {
  color: #048;
}
a:link:hover,
a:visited:hover {
  background-color: #def;
}
a img {
  border: none;
}
a.feed {
  margin-left: .5em;
}
a.feed img {
  width: 12px;
  height: 12px;
  vertical-align: middle;
}
a.feed:hover {
  background: none;
}

h2 {
  clear: both;
  font-size: 1.2em;
  margin: 1em 1.2em .5em;
  padding: 0 .5em;
  background-color: #bda;
  color: #000;
  -moz-border-radius: .5em;
  border-radius: .5em;
}
h3 {
  clear: both;
  font-size: 1.1em;
  margin: 1em 1.75em .7em;
  padding: 0 .25em;
  color: #000;
  border-bottom: 2px solid #bda;
  line-height: .8em;
}
div.minorline,
hr.minor {
  background-position: center center;
  clear: both;
  border: none;
  margin: 0;
  height: 27px;
  background-image: url(/style/lightknot.png);
}
p {
  margin: 1.2em 2em;
  line-height: 1.6em;
}
div#content p {
  text-align: justify;
}
@media all and (max-width: 25em) {
  div#content p {
    text-align: left;
  }
}
p.info,
p.error {
  padding: 3px 6px 3px 26px;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  min-height: 18px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
p.info {
  border: 1px solid #b98;
  background-color: #f7eedd;
  background-image: url(/style/info.png);
}
p.error {
  border: 1px solid #cc4c3c;
  background-color: #fa7;
  color: #000;
  background-image: url(/style/error.png);
}

img.icon {
  float: left;
  padding-left: 2em;
  width: 32px;
  height: 32px;
  margin-top: .8em;
}
p.iconned {
  padding-left: 32px;
  margin-left: 2.5em;
}

div.preview {
  float: right;
  margin-top: .3em;
  padding-right: 2.5em;
  padding-left: 1em;
  width: 152px;
  text-align: center;
}
div.preview img {
  border: 1px solid #000;
  margin-bottom: .5em;
  width: 150px;
}
div.preview div,
div.thumb div {
  font-style: italic;
  font-size: .8em;
}
p.previewed {
  padding-right: 152px;
  margin-right: 4em;
}
@media all and (max-width: 480px) {
  p.previewed {
    padding-right: 0;
    margin-right: 2em;
  }
}

.seemore {
  text-align: center;
  font-style: italic;
}
div#content .seemore a {
  font-weight: normal;
}

.when {
  float: right;
  font-style: italic;
}
h2 .when {
  font-size: .65em;
  font-weight: normal;
  padding-top: .5em;
}
.note {
  font-size: .8em;
  text-align: center;
  font-style: italic;
}
.detail {
  font-size: .8em;
}
.detail a {
  font-weight: normal;
}

code, samp {
  font-family: dejavu sans mono, bitstream vera sans mono, consolas, lucida console, monospace;
}
samp {
  display: block;
  margin: .5em 3em;
  padding: .2em .5em;
  white-space: nowrap;
  overflow: auto;
  text-align: left;
  max-height: 20em;
  max-width: 100%;
  border: 1px solid #f7eedd;
  background-color: #fffbf5;
}

ol.suggestdrop {
  background-color: #fff;
  border: 1px solid #b98;
  border-top: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
}
ol.suggestdrop li {
  padding: .2em .5em;
  cursor: pointer;
}
ol.suggestdrop li.current,
ol.suggestdrop li:hover {
  color: #000;
  background-color: #def;
}
ol.suggestdrop li.message,
ol.suggestdrop li.message:hover {
  color: #bbb;
  background-color: transparent;
  cursor: auto;
  border-top: 1px solid #bbb;
}

/* =============================================================[ ratings ]== */

div.rating {
  text-align: center;
  white-space: nowrap;
}
div.rating a.votepartner {
  background-color: #def;
}
div.rating img {
  vertical-align: middle;
}


/* ==============================================================[ t7code ]== */

cite {
  display: block;
  margin: .5em 1.5em -.5em;
}
q:before {content: '';}
q:after {content: '';}
q,
blockquote {
  display: block;
  margin: .5em 1em;
  border: 1px solid #b98;
  padding: .2em .5em;
  -moz-border-radius: .75em;
  border-radius: .75em;
}
q q,
blockquote blockquote,
q q q q,
blockquote blockquote blockquote blockquote,
q q q q q q,
blockquote blockquote blockquote blockquote blockquote blockquote {
  background-color: #fff;
}
q,
blockquote,
q q q,
blockquote blockquote blockquote,
q q q q q,
blockquote blockquote blockquote blockquote blockquote,
q q q q q q q,
blockquote blockquote blockquote blockquote blockquote {
  background-color: #f7eedd;
}


/* ===============================================================[ lists ]== */

ol,
ul {
  margin: .5em 0 0 2em;
  padding: 0 3em;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin: 0;
  padding: 0 0 0 2em;
}
dl {
  margin: .5em 2em;
  padding-left: 10px;
}
dd {
  margin: 0 1em .5em;
}

ul.actions {
  background-color: #f7eedd;
  padding: .1em 0;
  margin: 1em 1.5em;
  line-height: 1.75em;
  -moz-border-radius: .5em;
  border-radius: .5em;
}
ul.actions li {
  padding: 0 .5em;
  display: inline;
  list-style-type: none;
}
ul.actions li a,
ul.actions li em {
  padding-left: 20px;
  background-position: left;
  background-repeat: no-repeat;
}
ul.actions li.edit a {
  background-image: url(/images/action/edit.png);
}
ul.actions li.del {
  float: right;
}
ul.actions li.del a {
  background-image: url(/images/action/del.png);
}


/* ==============================================================[ tables ]== */

td.number {
  text-align: right;
}

table.columns,
table.text,
table.data {
  border-collapse: collapse;
  margin: .5em 2em;
}
table.columns th {
  text-align: right;
  padding: 1px .5em;
  vertical-align: top;
  background-color: #f7eedd;
  border-right: 1px solid #b98;
  border-top: 1px dotted #b98;
  color: #000;
  font-weight: normal;
}
table.columns tr.firstchild th,
table.columns tr:first-child th {
  border-top: none;
}
table.columns td {
  padding: 1px .5em;
}
table.columns td th {
  border-right: none;
}

table.text thead th {
  text-align: center;
  line-height: 80%;
  border-bottom: 1px solid #b98;
  color: #000;
  background-color: #f7eedd;
  padding-left: 1em;
}
table.text thead.minor th {
  font-size: .8em;
  font-weight: normal;
  padding-left: 1.25em;
}
table.text thead th:first-child,
table.text thead.minor th:first-child {
  padding-left: 0;
}
table.text tbody td {
  padding-left: 1em;
  border-top: 1px dashed #f7eedd;
  background-color: #fff;
}
table.text tbody tr td:first-child {
  padding-left: 0;
}
table.text tbody tr.firstchild td,
table.text tbody tr:first-child td {
  border-top: none;
}

table.data thead th {
  text-align: center;
  padding: .1em .5em;
  border: 1px solid #bda;
  background-color: #eef7dd;
  color: #000;
}
table.data tbody td {
  padding: .1em .3em;
  background-color: #fffbf5;
  border: 1px solid #fff;
}
table.data td.clear {
  background-color: transparent;
  border: none;
}
table.data tbody td.clear a img {
  display: block;
}


/* ==============================================================[ forms ]== */

form {
  margin: 1em 2em;
}
form table.columns {
  margin: 0;
  width: 100%;
}
form table.columns th {
  width: 1%;
  white-space: nowrap;
}

/* hide the spam trap fields from people with css */
div#content form input,
div#content form textarea {
  display: none;
}
/* display the actual fields again */
div#content form table input,
div#content form table textarea {
  display: inline;
}

fieldset {
  padding: 1em;
  margin: 1em 0;
  border: 1px solid #6a5;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
fieldset legend {
  padding: 0 .5em;
  border: 1px solid #6a5;
  background-color: #bda;
  color: #000;
  font-weight: bold;
  -moz-border-radius: .75em;
  border-radius: .75em;
}

form tr.required th {
  font-weight: bold;
}
label[title] {
  cursor: help;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="number"],
input[type="email"],
input[type="url"],
textarea,
select {
  font-family: dejavu sans, bitstream vera sans, corbel, verdana, arial, sans-serif;
  font-size: 1em;
  border: 1px solid #f7eedd;
  color: #555;
  background-color: #fff;
  padding: .1em .2em;
}
textarea {
  width: 100%;
}
@media all and (max-width: 40em) {
  input[type="text"],
  input[type="password"],
  input[type="file"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  select {
    width: 100%;
  }
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
  border-color: #965;
  background-color: #fffbf5;
}
input.checkbox {
  vertical-align: middle;
}

input[type="submit"],
input[type="button"] {
  border: 1px solid #965;
  background-color: #f7eedd;
  color: #37a;
  font-size: 1em;  /* buttons don't seem to inherit font size without something like this */
  font-weight: bold;
  -moz-border-radius: .5em;
  border-radius: .5em;
}
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus {
  cursor: pointer;
  border-color: #000;
  background-color: #37a;
  color: #fff;
}
input[type="submit"][disabled],
input[type="submit"][disabled]:hover,
input[type="button"][disabled],
input[type="button"][disabled]:hover {
  cursor: default;
  border-color: #f7eedd;
  color: #b98;
  background-color: #f7eedd;
}


/* ===========================================================[ pagelinks ]== */

div.pagelinks {
  text-align: center;
  margin: .5em 4em .7em;
  clear: both;
}
div.pagelinks span.active {
  padding: 0 .2em;
  border: 1px solid #37a;
}
div.pagelinks a {
  padding: 0 .2em;
}


/* =======================================================[ related links ]== */

dl.relatedlinks {
  padding-left: 1em;
  margin: 0;
}
dl.relatedlinks dt {
  clear: left;
  float: left;
  margin: 0;
  padding: .3em .5em 0 2em;
}
dl.relatedlinks dd {
  font-size: .8em;
  margin: .5em 2.5em;
  padding-bottom: .7em;
  text-align: justify;
}


/* ============================================================[ comments ]== */

div#usercomments {
  margin: 2em 5em 1em;
  border: 1px solid #bda;
  clear: both;
  -moz-border-radius: .8em;
  border-radius: .8em;
}
div#usercomments h2 {
  margin: 0;
  border: none;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media all and (max-width: 40em) {
  div#usercomments {
    margin: 2em 0 1em;
    border: none;
  }
  div#usercomments h2 {
    margin: 1em 1.2em .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
  }
}

table.post {
  margin: 1.5em 2em;
}
table.post td {
  vertical-align: top;
  padding: 0;
  background-color: #fff;  /* in case it is wider than the page background */
}
table.post td.userinfo {
  padding: .3em .5em;
  height: 100%;
  background-color: #f7eedd;
  border-right: 1px solid #b98;
}
table.post td.userinfo img.avatar {
  display: block;
}
table.post td.userinfo div {
  font-size: .8em;
}
table.post div.head {
  font-size: .8em;
  padding: 0 .5em;
  border-bottom: 1px dashed #b98;
}
table.post p {
  margin: .5em 1em;
}
table.post p.signature {
  font-size: .8em;
  margin: .625em 1.25em;
  border-top: 1px solid #f7eedd;
  padding: .15em .5em 0;
  line-height: 1em;
  max-height: 3em;
  overflow: hidden;
}
table.post div.foot {
  font-size: .8em;
  padding: 1px .5em 0;
  border-top: 1px dashed #b98;
  text-align: right;
  line-height: 16px;
  height: 16px;
}
table.post div.foot div.userlinks {
  float: left;
  padding-right: 1.5em;
}
table.post div.foot a {
  margin-left: .5em;
  vertical-align: middle;
}
table.post div.foot div.userlinks a {
  margin-left: 0;
  margin-right: .5em;
}
table.post div.foot a img {
  vertical-align: middle;
}


/* ===========================================================[ tag cloud ]== */

div.tagcloud {
  margin: .5em 2em;
  padding: 3px 6px 3px 26px;
  background: #f7eedd url(/style/tag.png) no-repeat 4px 4px;
  min-height: 18px;
  border: 1px solid #b98;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
div#content div.tagcloud a {
  margin: 0 .2em;
  font-weight: normal;
  vertical-align: middle;
}
div.tagcloud a.tagfew {
  font-size: .8em;
  line-height: 2.5em;
}
div.tagcloud a.tagsome {
  line-height: 2em;
}
div.tagcloud a.tagmany {
  font-size: 1.2em;
  line-height: 1.538em;
}
div.tagcloud a.taglots {
  font-size: 1.5em;
  line-height: 1.33em;
}
div.tagcloud a.tagtons {
  font-size: 2em;
  line-height: 1em;
}


/* ==============================================================[ layout ]== */

html {
  font-family: dejavu sans, bitstream vera sans, corbel, verdana, arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #965 url(/style/html-tile.png) repeat-x fixed center top;
  font-size: 85%;
}
body {
  margin: 0 auto;
  padding: 0;
  background: #f7eedd url(/style/body-tile.png) repeat-x center top;
  max-width: 74.5em;
  border: 1px solid #000;
  color: #555;
}
@media all and (max-width: 50em) {
  html {
    background: none;
    -webkit-text-size-adjust: none;
  }
  body {
    max-width: none;
    border: none;
    margin: 0;
  }
}
div#content {
  display: block;
  background-color: #fff;
  margin: 0 .5em;
  border: 1px solid #965;
  border-top: none;
  padding-bottom: 1.5em;
  -moz-border-radius-bottomleft: .75em;
  -moz-border-radius-bottomright: .75em;
  border-bottom-left-radius: .75em;
  border-bottom-right-radius: .75em;
}
footer {
  display: block;
}
div.dynamic {
  clear: both;
}
br.clear {
  clear: both;
  display: block;
  height: 0;
}
div#foot {
  clear: both;
  font-size: .8em;
  padding: 20px .75em .5em;
  background: url(/style/lightknot.png) repeat-x top center;
}


/* ==============================================================[ header ]== */
header {
  vertical-align: bottom;
  display: block;
  height: 100px;
  white-space: nowrap;
  border-bottom: 1px solid #000;
}

div#welcome {
  float: right;
  height: 100px;
  font-size: .8em;
  background-color: #f7eedd;
  border-left: 1px solid #000;
  overflow: auto;
}
div#welcome p {
  margin: 0 .5em;
  line-height: 18px;
  text-align: center;
}
div#welcome p.welcomeguest {
  width: 10em;
  margin: .75em 0;
  padding-left: 1em;
  white-space: normal;
  line-height: 1.3em;
  text-align: left;
}
div#welcome div.avatar {
  text-align: center;
}
div#welcome div.avatar img {
  line-height: 64px;
  vertical-align: middle;
}
div#welcome ul.elements {
  font-size: 1em;
  margin: 0 .5em;
  line-height: 18px;
}
div#welcome ul.elements:before,
div#welcome ul.elements:after {
  content: '';
}
@media all and (max-width: 320px) {
  div#welcome p {
    line-height: normal;
    margin: .7em .5em;
  }
  div#welcome span.username {
    display: block;
  }
  div#welcome div.avatar {
    display: none;
  }
  div#welcome p.welcomeguest {
    width: 77px;
  }
  div#welcome p.loginreg {
    display: none;
  }
  div#welcome ul.elements {
    line-height: normal;
  }
  div#welcome ul.elements li {
    display: block;
    margin: .3em;
  }
  div#welcome ul.elements li:before {
    content: '';
  }
}

div#navhelp {
  float: right;
  margin-top: .5em;
	margin-right: 1.5em;
  text-align: right;
  font-size: .8em;
}
div#navhelp a {
  margin-left: 1.25em;
}
div#navhelp a:link:hover,
div#navhelp a:visited:hover {
  border-bottom: 1px dotted #37a;
}

a#homelink {
  background: none;
}
img#punkhead {
  width: 78px;
  height: 100px;
  vertical-align: bottom;
}
img#t7head {
  margin: 15px -20px 6px -2px;
  width: 133px;
  height: 79px;
  vertical-align: bottom;
}
nav#sect {
  display: inline;
}
@media all and (max-width: 50em) {
  nav#sect {
    display: none;
  }
}
ul#sectnav {
  padding: 0;
  list-style-type: none;
  display: inline;
  margin: 0;
  position: relative;
  top: -1px;
  vertical-align: bottom;
}
ul#sectnav li {
  display: inline;
}
ul#sectnav li a {
  padding: .15em .3em 1px;
  line-height: 1em;
  font-weight: bold;
  border-bottom: none;
  background-color: #f7eedd;
  -moz-border-radius-topleft: .4em;
  -moz-border-radius-topright: .4em;
  border-top-left-radius: .4em;
  border-top-right-radius: .4em;
}
ul#sectnav li a:hover {
  border-color: #000;
  background-color: #37a;
  color: #fff;
}
ul#sectnav li.active a {
  padding-bottom: 2px;
  border: 1px solid #000;
  border-bottom: none;
  background-color: #fff;
  color: #2c2c2c;
  -moz-border-radius-topleft: .5em;
  -moz-border-radius-topright: .5em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}
ul#sectnav li.active a:hover {
  background-color: #def;
  color: #000;
}
nav#location {
  display: block;
  font-size: .9em;
  padding-left: .4em;
  padding-top: .1em;
}
nav#location a {
  font-weight: normal;
}


/* ===============================================================[ login ]== */


div#loginmask {
  display: none;
  background-color: #000;
  opacity: .7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
form#loginform {
  display: none;
  position: fixed;
  left: 0;
  top: 50%;
  margin: 0;
  margin-top: -7.5em;
  width: 100%;
}
form#loginform fieldset {
  background-color: #fff;
  margin: 0 auto;
  width: 20em;
}

form#loginform input[type="submit"] {
  margin-top: .45em;
}


/* ===============================================================[ title ]== */

div#title {
  padding-bottom: 30px;
  background-image: url(/style/heavyknot.png);
  background-position: bottom center;
  background-repeat: repeat-x;
}
h1 {
  margin: 0;
  text-align: center;
  color: #000;
  font-size: 1.6em;
}
h1 span.sub {
  display: block;
  font-weight: normal;
  font-size: .7em;
  color: #555;
}

ul.elements {
  font-size: .8em;
  text-align: center;
  list-style-type: none;
  margin: 0;
  margin-bottom: .7em;
  padding: 0;
}
ul.elements:before {
  content: '[';
}
ul.elements:after {
  content: ']';
}
ul.elements li {
  display: inline;
}
ul.elements li:before {
  content: '| ';
  color: #555;
}
ul.elements li:first-child:before {
  content: '';
}
div#content ul.elements a {
  font-weight: normal;
}


/* =====================================================[ dynamic content ]== */

div.dynamic {
  width: 57.2em;
  margin: 0 auto;
  padding-left: .1em;
}
div.dynsec {
  float: left;
  width: 11em;
  padding: 0 .2em;
}

div.dynamic h2 {
  margin: 1em 0 .5em;
  font-size: 1em;
  border: 1px solid #6a5;
}
div.dynamic ul {
  font-size: .8em;
  padding-left: .3em;
  padding-right: 1em;
}
div.dynamic table,
div.dynamic p {
  font-size: .8em;
  margin: .3em 1em;
}
div.dynamic a:link:hover,
div.dynamic a:visited:hover {
  border-bottom: 1px dotted #37a;
}

div#poweredby ul {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}
div#poweredby li {
  width: 80px;
  margin: .25em auto;
  padding: 0;
  text-align: center;
}
div#poweredby li a {
  display: block;
  border: none;
}
div.dynamic div#poweredby a:hover {
  border: none;
}
div#poweredby img {
  width: 80px;
  height: 15px;
  display: block;
}


/* ==============================================================[ footer ]== */

div#copyright {
  margin-top: -1.2em;
  float: right;
}
@media all and (max-width: 40em) {
  div#copyright {
    margin-top: 0;
    float: none;
  }
}
