/******************************************************************************\
 * track7 style sheet by misterhaan of http://www.track7.org/                 *
 *                                                                            *
 * -> fixes for internet explorer 6                                           *
\******************************************************************************/


img {
  behavior: url(/style/pngalpha.htc);
}

samp {
  margin-right: 0;
  width: 42em;
  height: 10em;
}
