/******************************************************************************\
 * track7 style sheet by misterhaan of http://www.track7.org/                 *
 *                                                                            *
 * -> layout style for user profile edit page                                 *
\******************************************************************************/

ul.tabs {
  padding: 2px 2em;
  margin-top: 1em;
}
ul.tabs li {
  display: inline;
  list-style-type: none;
}
ul.tabs li a {
  padding: 2px .5em;
  background-color: #f7eedd;
  border: 1px solid #b98;
  border-bottom: none;
  -webkit-border-top-left-radius: .5em;
  -webkit-border-top-right-radius: .5em;
  -moz-border-radius-topleft: .5em;
  -moz-border-radius-topright: .5em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}
ul.tabs li.active a {
  border: 1px solid #965;
  padding-bottom: 3px;
  border-bottom: none;
  background-color: #fff;
}
ul.tabs li.active a {
  color: #000;
}
ul.tabs li a:hover {
  background-color: #37a;
  border-color: #000;
  color: #fff;
}
div.tabbed {
  border: 1px solid #965;
  margin: 0 2em 2em;
  padding: 1em 1.5em;
  -khtml-border-radius: .75em;
  -webkit-border-radius: .75em;
  -moz-border-radius: .75em;
  border-radius: .75em;
}
div.tabbed form {
  margin: 0;
}
div.tabbed form.textarea table.columns {
  padding: .5em 2em;
}
form img.avatar {
  float: left;
  padding: 0 .5em 0 0;
}
textarea#fldsignature {
  height: 3.5em;
}
textarea#fldgeekcode {
  height: 5.8em;
}
