RedirectPermanent /album/me.php http://www.track7.org/album/me/
RedirectPermanent /album/brit.php http://www.track7.org/album/wife/
RedirectPermanent /album/brit/ http://www.track7.org/album/wife/
RedirectPermanent /album/kitties.php http://www.track7.org/album/pets/
RedirectPermanent /album/kitties/ http://www.track7.org/album/pets/
RedirectPermanent /album/college.php http://www.track7.org/album/college/
RedirectPermanent /album/cornerstone.php http://www.track7.org/album/cornerstone/
RedirectPermanent /album/camp.php http://www.track7.org/album/camp/

RewriteEngine On
RewriteRule ^([a-z]+)/photo([0-9]+)/?$ ?page=$1&photo=$2
RewriteRule ^([a-z]+/)photo/([a-z0-9\.\-]+)\.jpeg&(.*)$ photo.php?url=$1$2&$3
RewriteRule ^([a-z]+/)photo/([a-z0-9\.\-]+)\.jpeg/(edit|del)$ photo.php?url=$1$2&$3
RewriteRule ^([a-z]+/)photo/([a-z0-9\.\-]+)\.jpeg$ photo.php?url=$1$2
RewriteRule ^([a-z]+)/?$ page.php?name=$1
RewriteRule ^([a-z]+)/([a-z0-9=]+)$ page.php?name=$1&$2
