RewriteEngine on
RewriteOptions inherit
RewriteRule ^([^/]+)/$ ?tag=$1
RewriteRule ^([^/]+)/([^/]+)/([1-9][0-9]*|all)$ view.php?url=$2&page=$3&tag=$1
RewriteRule ^([^/]+)/([1-9][0-9]*|all)$ view.php?url=$1&page=$2
RewriteRule ^([^/]+)/([^/]+)/edit$ edit.php?url=$2&tag=$1
RewriteRule ^([^/]+)/edit$ edit.php?url=$1
RewriteRule ^([^/]+)/new$ edit.php?tag=$1
RewriteRule ^new$ edit.php
