RewriteEngine On
RewriteOptions inherit
RewriteBase /user/
RewriteRule ^message.php messages.php [R=301,L]
RewriteCond %{QUERY_STRING} to=([0-9a-z\_\-]+) [NC]
RewriteRule ^sendmessage.php messages.php?#!to=%1 [NE,R=301,L]

RewriteRule ^([0-9a-zA-Z\_\-]+)/?$ viewprofile.php?login=$1
